.historical-dates-counter{
    margin-inline-start: 80px;
    &__item{
        color: #42567A;
        font-size: 14px;
        margin-bottom: 15px;
    }
    &__buttons{
        display: flex;
        gap: 20px;
    }
    &__button{
        width: 50px;
        height: 50px;
        border: 1px solid #42567A;
        border-radius: 50%;
        cursor: pointer;
        background-color: transparent;
        transition: all .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        &:hover{
            background-color: white;
        }
        &:disabled{
            pointer-events: none;
            opacity: 0.5;
        }
    }
}